<div class="generic-container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<span class="lead">User Registration Form </span>
		</div>
		<div class="formcontainer">
			<form data-ng-submit="submit()" name="myForm" class="form-horizontal">
				<input type="hidden" data-ng-model="user.id" />

				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="file">First Name</label>
						<div class="col-md-7">
							<input type="text" data-ng-model="user.firstName" class="username form-control input-sm"
								placeholder="Enter first name" required data-ng-minlength="3" />
							<div class="has-error" data-ng-show="myForm.$dirty">
								<span data-ng-show="myForm.uname.$error.required">This is a required field</span> <span
									data-ng-show="myForm.uname.$error.minlength">Minimum length required is 3</span> <span
									data-ng-show="myForm.uname.$invalid">This field is invalid </span>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="file">Last Name</label>
						<div class="col-md-7">
							<input type="text" data-ng-model="user.lastName" class="form-control input-sm"
								placeholder="Enter your Address. [This field is validation free]" />
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="file">Email</label>
						<div class="col-md-7">
							<input type="email" data-ng-model="user.emailId" type="email" class="email form-control input-sm"
								placeholder="Enter your Email" required />
							<div class="has-error" data-ng-show="myForm.$dirty">
								<span data-ng-show="myForm.email.$error.required">This is a required field</span> <span
									data-ng-show="myForm.email.$invalid">This field is invalid </span>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-7">
						<div class="form-actions">
							<input type="submit" value="{{!user.id ? 'Add' : 'Update'}}" class="btn btn-primary btn-sm"
								data-ng-disabled="myForm.$invalid">
							<button type="button" data-ng-click="reset()" class="btn btn-warning btn-sm" data-ng-disabled="myForm.$pristine">Reset
								Form</button>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-7">
						<input type="checkbox" data-ng-model="checkBoxItem" data-ng-change="checkBoxChecked()">
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">
			<span class="lead">List of Users </span> <input data-ng-model="query" placeholder="Search by fName and lName"
				data-ng-change="getFilterUsers()">
		</div>
		<div class="tablecontainer">
			<table class="table table-hover ">
				<thead>
					<tr>
						<th>ID.</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
						<th>City</th>
						<th>Birthday</th>
						<th>Gender</th>
						<th>Operations</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="u in filteredUsers | orderBy:u.firstName">
						<td><span data-ng-bind="u.id | number"></span></td>
						<td><span data-ng-bind="u.firstName | uppercase"></span></td>
						<td><span data-ng-bind="u.lastName"></span></td>
						<td><span data-ng-bind="u.emailId"></span></td>
						<td><span data-ng-bind="u.city.cityName"></span></td>
						<td><span data-ng-bind="u.birthDate | date:'dd-MMMM-yyyy'"></span></td>
						<td><span data-ng-bind="u.gender | gender"></span></td>
						<td>
							<button type="button" data-ng-click="edit(u.id)" class="btn btn-success custom-width">Edit</button>
							<button type="button" data-ng-click="remove(u.id)" class="btn btn-danger custom-width">Remove</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
